:root {
    --alf-green: #4dae50;
    --alf-beige: #efe4b0;
}

html,
body,
input,
textarea,
button,
select {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Gotham Rounded', sans-serif;
    color: white;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
}

a:link {color: rgb(0, 195, 255);}
a:visited {color: rgb(0, 195, 255);}
a:hover {color: hotpink;}

body {
    box-sizing: border-box;
    background: var(--alf-green);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overscroll-behavior-y: none;
}

.container {
    display: flex;
    box-sizing: border-box;
    margin: 0.5vw;
    background: var(--alf-beige);
    border-radius: 2vw;
}

.desktop-only,
.mobile-only{
    display:none;
}

#terminal-container {
    box-sizing: border-box;
    position: relative;
    background: black;
    width: 84vw;
    height: 14vw;
    margin: 1vw;
    padding: 1.3vw;
    padding-left: 2vw;
    border-radius: 2vw;
}

#terminal-clear-button{
    top: 1vw;
    right: 1vw;
}

#terminal-lock-button{
    top: 1vw;
    right: 7vw;
}

#terminal-container button {
    position: absolute;
    background-color: rgb(189, 188, 188);
    border-radius: 1vw;
    font-size: 3vw;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    border: none;
    color: #e6e5e5;
    text-align: center;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#terminal-container button:hover {
    background-color: rgb(121, 121, 121);
}
#terminal-container button:active {
    background-color: rgb(159, 159, 159);
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#terminal-log{
    overflow: hidden;
    font-weight: normal;
    font-family: monospace;
    font-size: 1.4vw;
    display: flex;
    flex-direction: column-reverse; 
}

#hack-spacer {
    display: grid;
    background: var(--alf-green);
    width: 84vw;
    margin: 1vw;
    height: 6vw;
}

#user-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overscroll-behavior-y: none;
}

#mobile-button,
#mobile-joystick,
#desktop-axis,
#desktop-button {
    width: 30vw;
    height: 30vw;
}

#mobile-joystick {
    justify-content: center;
    align-items: center;
}

#mobile-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vw;
}

#joystick-background {
    border-radius: 1vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 14vw;
}

.joystick {
    background: grey;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    height: 13vw;
    width: 13vw;
}

#interface {
    width: 22vw;
    height: 30vw;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    padding: 1vw;
}

#ble-button {
    background-color: rgb(189, 188, 188);
    border-radius: 1vw;
    font-size: 4vw;
    grid-row: 1;
    grid-column: 1;
    cursor: pointer;
    border: none;
    color: #e6e5e5;
    text-align: center;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#ble-button:hover {
    background-color: rgb(121, 121, 121);
}
#ble-button:active {
    background-color: rgb(159, 159, 159);
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#telemetry {
    background-color: grey;
    color: white;
    overflow: hidden;
    border-radius: 1vw;
    width: 12vw;
    font-size: 2vw;
    grid-row: 1;
    grid-column: 2;
}

#ble-status {
    background-color: black;
    font-size: 2vw;
    height: 6vw;
    grid-row: 2;
    grid-column: 1;
    grid-column: span 2;
}

#github-link {
    background-color: rgb(189, 188, 188);
    border-radius: 1vw;
    font-size: 2vw;
    grid-column: span 2;
    cursor: pointer;
    border: none;
    color: #e6e5e5;
    text-align: center;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: -1.5px -1.5px 1px #303030, 1.5px -1.5px 1px #303030, -1.5px 1.5px 1px #303030, 1.5px 1.5px 1px #303030;
    text-decoration: none;

}
#github-link:hover {
    background-color: rgb(121, 121, 121);
}
#github-link:active {
    background-color: rgb(159, 159, 159);
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mobile-button button {
    font-size: 5vw;
    background-color: grey;
    transform: scale(1.3);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#desktop-button {
    display: grid;
    padding: 1vw;
    grid-gap: 0.5vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#desktop-button button {
    font-size: 2vw;
    background: grey;
    border: none;
    border-radius: 1vw;
}

#desktop-axis {
    display: grid;
    padding: 1vw;
    grid-row-gap: 1vw;
    grid-column-gap: 0.5vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#desktop-axis div {
    font-size: 2vw;
    border: none;
}

.slider-non {
    background-color: grey;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-bar {
    border-radius: 1vw;
    width: 12vw;
    background: rgb(141, 168, 204);
}

#settings-grid {
    display: grid;
    height: 10vw;
    padding: 0.5vw;
    grid-column-gap: 0.5vw;
    grid-template-columns: 2fr 1fr;
    grid-column: span 2;
    background-color: grey;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.settings-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2vw;
}

.settings-toggle {
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 3vw;
    touch-action: manipulation; 
}

.toggle-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(189, 188, 188);
    border-radius: 3vw;
}

.toggle-nub {
    position: absolute;
    content: "";
    height: 2vw;
    width: 2vw;
    left: 0.5vw;
    bottom: 0.5vw;
    background-color: white;
    border-radius: 50%;
}